<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather</title>
    <link rel="stylesheet" href="main.css">
    <style>
        [v-cloak] {
            display: none;
        }
        body{
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        }
    </style>
</head>
<body>
<div class="wrap" id="app">
    <div class="search_form">
        <div class="logo"><h2>天知道</h2></div>
        <div class="form_group">
            <input type="text" v-model="city"  @change.lazy="getWeather" @keyup.enter="getWeather" class="input_txt" placeholder="输入城市名">
            <button @click="getWeather" class="input_sub">搜索</button>
        </div>
    </div>
    <div class="hotkey">
        <a href="javascript:void(0)" @click="setCity('北京')">北京</a>
        <a href="javascript:void(0)" @click="setCity('成都')">成都</a>
        <a href="javascript:void(0)" @click="setCity('重庆')">重庆</a>
        <a href="javascript:void(0)" @click="setCity('贵州')">贵州</a>
    </div>
    <ul class="weather">
        <li v-for="item in weatherList" class="info_weather" v-cloak>
            <div class="info_type"><span class="iconfont">{{ item.type }}</span></div>
            <div class="info_temp">
                <b>{{ item.low }}</b>
                ~
                <b>{{ item.high }}</b>
            </div>
            <div class="date"><span>{{ item.date }}</span></div>
        </li>
    </ul>
</div>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="main.js"></script>
</body>
</html>